#detable{
    display:table;
    border-radius: 20px;
    border-style:dashed;
    border-width: 5px;
    row-gap: 15px;
    border-color: black;
    column-gap: 15px;
    border-spacing: 20px;
}

#centertable{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

td{
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

th{
    border-radius: 80px;
    border-color: rgb(255,255,255);
    border-style:dotted;
    font-size: 30px;
    color: rgb(255,255,255);
}

body {
    background-color: rgb(0, 120, 255);
}

dt, dl, dd{
    text-align: center;
}

dl{
    border-radius: 15px;
    border-spacing: 20px;
    border-color: rgb(50,50,120);
    border-width: 10px;
    border-style: solid;
    width: 60vw;
}

dt{
    border-radius: 15px;
    border-color: rbg(120,50,0);
    color:yellow;
    border-style: solid;
}

dd{
    border-radius: 15px;
    border-color: rgb(50, 0, 120);
    border-style: solid;
}