.navCont {
    position: fixed;
    top: 15px;
    left: 20px;
    display: inline-block;
    font-size: 20px;
    z-index: 11;
}

.navBtn {
    background-image: url("ddmbg.jpeg");
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.dMenu {
    display: none;
    position: absolute;
    background-image: url("ddmbg.jpeg");
    border-radius: 10px;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    top: 40px;
    left: 0;
    z-index: 15;
    flex-direction: column;
}

.dMenu a {
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
}

.dMenu a:hover {
    background-color: #ffbd2d81;
    border-radius: 10px;
}

.navCont:hover .dMenu {
    display: block;
    transform: translateY(-5px);
}